*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


html, body{
  height: 100%;
  margin:0px;
  padding: 0px;

}

h1{
  font-family: 'Merriweather', serif;
}

/* #test1{
color:#0C1A1A ;
}

#test2{
  color:#6ACFC7;
}

#test3{
color: #FFCC00;
}

#test4{
color: #009B4D;
}

#test5{
color: #FAF5E9;
}
#test6{
color: #BAFF39;
}
#test7{
color: #6E6E6E;
}
#test8{
color: #E9F1FA;
}
#test9{
color: #00ABE4;
}
#test10{
color: #00DD00;
}
#test11{
color: #DDD0C8;
}

#test12{
color: #323232;
}

#test13{
color: #2272FF;
}

#test14{
color: #F9B872;
}

#test15{
color: #FAE7A5;
}
#test15{
color: #B6E1E7;
} */

#hero{
   height: 100vh;
  width: 100%; 
  background-image: linear-gradient(to right,#36D1DC,#5b87e5);
  
}